<%= erb :"common/header" %>
<!-- ACCESSIBILITY -->
  <main>
    <h1>Accessibility statement</h1>
    <p class="aboutus">

      At Edflix, we are committed to ensuring that our website is accessible to all individuals, including those with disabilities. 
      We strive to comply with accessibility standards and guidelines to provide an inclusive and user-friendly experience for everyone.

      If you feel our website does not meet your standards, please contact us using our <a href="/contact">contact form</a>.
    
    </p>
  </main>
<%= erb :"common/footer" %>