<%= erb :"common/header" %>

<!-- CHANGE EMAIL -->
<main>
  <form class="change-email" method="post" action="/change_email">
    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" required value="<%= h(params[:username]) %>">
    <label for="old_email"> Current Email:</label>
    <input type="text" id="old_email" name="old_email" placeholder="Enter your old email" required>
    <label for="new_email">New Email:</label>
    <input type="text" id="new_email" name="new_email" placeholder="Enter your new email" required>
    <label for="confirm_email">Confirm Email:</label>
    <input type="text" id="confirm_email" name="confirm_email" placeholder="Confirm your new email" required>
    <button type="submit">Change Email</button>
  </form>
</main>

<%= erb :"common/footer" %>
