<%= erb :"common/header" %>

<!-- CHANGE PASSWORD -->
<main>
  <form class="change-password" method="post" action="/change_password">
    <% if @error %>
      <p class="error"><%= @error %></p>
    <% end %>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" required value="<%= h(params[:username]) %>">
    <label for="old_password"> Current Password:</label>
    <input type="password" id="old_password" name="old_password" placeholder="Enter your old password" required>
    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" placeholder="Enter your new password" required>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your new password" required>
    <button type="submit">Change Password</button>
  </form>
</main>

<%= erb :"common/footer" %>
