<%= erb :"common/header" %>
<!-- contact_us -->

<h1>Contact us</h1>

<p>
If you want to suggest a new course or have a general problem
you can contact us via our phone number +44 123 456 7890 or email us at support@edflix.com.
</p>

<p>
Alternatively you can use the form below:
</p>

<br/>

<form action="/contact" method="post">


    <label for="reason">Reason:</label>
    <select id="reson" name="reason">
        <option value="login">Problem logging in</option>
        <option value="course">Course suggestion</option>
        <option value="other">Other</option>
    </select>
    <br/>

    <label for="firstname">First name:</label>
    <input type="text" id="firstname" name="firstname" placeholder="eg. John"/>
    <br/>

    <label for="lastname">Last name:</label>
    <input type="text" id="lastname" name="lastname" placeholder="eg. Pork"/>
    <br/>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="example@email.com" minlength="5"/>
    <br/>

    <label for="freeform">Tell us what you think:</label>
    <br/>
    <textarea id="message" name="message" rows="4" cols="50" placeholder="Edflix is great!"></textarea>
    <br/>

    <input type="submit" value="Submit"/>

    <% if @error %>
        <p class = "error"><%= @error %></p>
    <% end %>
</form>

<%= erb :"common/footer" %>