<%= erb :"common/header" %>

<!-- TRUSTED DASHBOARD -->
<main>
  <h1>Trusted Dashboard</h1>
  <div class="buttons">
    <a href="/add_course" target = "_blank">Add course</a>
    <a href="/trusted_courses" class="button">Course Details</a>
  </div>
  <button onclick="location.href='/logout'">Log Out</button>
  <button onclick="window.open('/change_password', '_blank')">Reset Password</button>
  <button onclick="window.open('/change_email', '_blank')">Reset Email</button>
</main>

<%= erb :"common/footer" %>

