<%= erb :"common/header" %>

<!-- TRUSTED DASHBOARD -->
<main>
  <h1>Trusted Dashboard</h1>
  <div class="buttons">
    <a href="/trusted/add_course" class="button">Add a Course</a>
    <a href="/trusted/course_details" class="button">Course Details</a>
    <a href="/trusted/modify_course" class="button">Modify Course</a>
  </div>
</main>

<%= erb :"common/footer" %>

