<%= erb :"common/header" %>
<!-- DASHBOARD -->
  <h1>
    Welcome to the Edflix dashboard.
  </h1>
  <h2>
    Here is where you can access key functions relating to your courses
  </h2>
<%= erb :"common/footer" %>