<%= erb :"common/header" %>
<!-- HOME -->
  <h1>
    Welcome to Edflix where you can learn every course you want!
  </h1>
  <img class="backround" src="images/background.jpeg" alt="back ground"/>
<%= erb :"common/footer" %>
