<%= erb :"common/header" %>
<!-- HOME -->
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Fusce fringilla neque sed elit luctus luctus. 
    Mauris vitae rutrum massa. Morbi turpis dolor, porttitor non erat id, gravida tincidunt leo. 
    Duis aliquet enim et sem aliquet, vitae egestas enim tempor. Sed at pulvinar velit. 
    Cras eget elit at lectus fermentum auctor et ac augue. 
    Nullam vitae molestie enim, vel suscipit purus. 
    Aliquam blandit lacus lacus, a fermentum nunc fringilla ut. 
    Suspendisse potenti. Sed volutpat nisi quis ipsum interdum, quis ornare risus dapibus. 
    Sed pellentesque ante ligula, eu sagittis lorem suscipit vestibulum. 
    Aliquam non risus sit amet nulla consectetur lobortis.
  </p>
<%= erb :"common/footer" %>
