<%= erb :"common/header" %>
<!-- HOME -->

  <h1>
    Welcome to Edflix where you can learn every course you want!
  </h1>

  <img class="backround" src="images/background.jpeg" alt="background"/>

  <div>
    <h2>Featured artacles</h2>

    <div>
      <h3>A brief history of the UK’s Winchcombe meteorite</h3>
      <p>
        In 2021, searchers recovered a meteorite that fell over the UK just hours earlier.
        Scientists have now reconstructed its story.
      </p>
      <img class="thumbnail" src="images/meteorite.jpg" alt="meteorite"/>
    </div>
    
    <div>
      <h3>Why does music bring back memories? What the science says</h3>
      <p>
        Music, memories and emotions are all linked and certain songs can act as a direct line to our past.
      </p>
      <img class="thumbnail" src="images/music.jpeg" alt="music image"/>
    </div>

    <div>
      <h3>Why does the Earth spin?</h3>
      <p>
        An astronomer takes us on a tour of the universe to learn about the birth of stars and planets
        and how they get their spin.
      </p>
      <img class="thumbnail" src="images/earth.jpeg" alt="earth"/>
    </div>

    <div>
      <h3>How did birds survive while dinosaurs went extinct?</h3>
      <p>
        Birds and dinosaurs lived together for millions of years,
        but only toothless birds survived the asteroid impact that upended life on Earth.
      </p>
      <img class="thumbnail" src="images/dinosaur.jpg" alt="dinosaur"/>
    </div>

  </div>


<%= erb :"common/footer" %>
