<!-- Footer -->
  <footer>
    <section> 
      <ul>
        <li><h2 class="footer_title">Technical info</h2></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Legal & Security</a></li>
        <li><a href="contact_us">Contact us</a></li>
      </ul>
    </section>
    <p>&copy; COM1001 Team 7, 2023</p>
  </footer>
</body>
</html>