<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Artem Vakhutinskiy">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COM1001</title>
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/style.css">
</head>

<body id="home">

<!-- Navigation menu -->
  <nav>

    <div>
      <img src="images/logo.png" alt="EdFlix">
    </div>

    <div class="menu">
      <li><a href="">Home</a></li>
      <li><a href="">Courses</a></li>
      <li><a href="">Sign in</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="">About us</a></li>
    </div>

    <form action="">
      <input type="search" placeholder="Search" required>
      <button type="submit"></button>
    </form>
  </nav>