<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Artem Vakhutinskiy">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COM1001</title>
  <link rel="stylesheet" href="style/edflix.css">
  <script type="text/javascript" src="js/js.js"></script>
</head>

<body>

<!--Navigation-->
  <header>

    <div class="logo">
      <a href="home"><img src="images/logo.png" alt="Edflix logo"></a>
    </div>

    <nav class="navigation">
      <form class="search-field" action="#">
        <input type="text" placeholder="Search" name="search">
        <button class="search-button" type="submit">
          <img src="images/search.png">
        </button>
      </form>
      <a href="home">Home</a>
      <a href="dashboard">Dashboard</a>
      <a href="courses">Courses</a>
      <a href="#">About us</a>
      <a href="login">Log in</a>
    </nav>

    <div class="toggleBox">
      <a onclick="showMenu()" href="#">
        <img class="menu" src="images/bars.png" alt="menu bars">
        <img class="close-menu" src="images/xmark.png" alt="close x-mark">
      </a>
    </div>
  </header>